* {
  margin: 0;
  padding: 0;
}

.header {
  background: url(../img/books1.jpg) no-repeat center/cover;
  padding: 50px;

  &__title {
    text-align: center;
    font: 900 60px / 50px sans-serif;
    margin-bottom: 35px;
  }
}

.search {
  max-width: 1140px;
  margin: 0 auto;
  color: #000;

  &__query {
    display: flex;
    justify-content: center;
  }

  &__text {
    display: block;
    width: 50%;
    padding: 5px 10px;
    border: 1px solid #000;
    border-right: 0;
    font: 400 20px / 20px sans-serif;

    &:focus-visible {
      outline: none;
    }
  }

  &__submit {
    width: 30px;
    border: 1px solid #000;
    border-left: 0;
    padding: 2px;
    background: url(../img/search.svg) no-repeat center/75%, #fff;
  }

  &__filters {
    text-align: center;
    margin-top: 30px;
  }

  &__label {
    font: 400 20px/20px sans-serif;
  }

  &__select {
    width: 20%;
    height: 30px;
    font: 400 20px / 20px sans-serif;
    color: rgba(0, 0, 0, 0.7);
    margin-right: 15px;
  }
}

.query-total {
  text-align: center;
  margin: 15px 0;
  font: 500 18px sans-serif;
}

.books {
  padding: 30px;

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.book-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 20px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  margin-bottom: 25px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: 4px 15px 30px -13px;
  }

  &__img {
    box-shadow: 6px 8px 38px -5px;
    margin: 5px auto;

    &_popup{
      max-height: 26vh;
    }
  }

  &__desc {
    margin-top: 20px;
  }

  &__category,
  &__authors {
    font: 402 20px/20px sans-serif;
    color: rgba(0, 0, 0, 0.5);
  }
  &__title {
    font: 700 22px sans-serif;
    margin: 10px 0;
  }
  &__category_popup,
  &__authors_popup,
  &__title_popup {
    max-height: 10vh;
  }
}

.pagination {
  padding: 5px 30px;
  margin: 40px auto;
  display: block;
  border-radius: 20px;
  font: 400 22px sans-serif;
  background: rgb(163, 79, 30);
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}

.loader {
  margin: 10px auto 70px;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: conic-gradient(transparent, rgb(163, 79, 30));

  animation: rotating 1s linear infinite;
}

.loader::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  background: white;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.popup {
  padding: 16px;
  width: 60vw;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;

  &-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__description {
    margin: 20px 10px 0;
    padding: 0 20px;
    font: 400 17px sans-serif;
    text-align: justify;
    max-height: 40vh;
    overflow-y: auto;

  }

  &__link {
    margin: 10px 0;
    color: #ff4d0d;
    text-decoration: none;
    font-size: 16px;
    transition: transform 0.2s, color 0.2s;

    &:hover {
      transform: scale(1.1);
      color: #00ff0a;
    }
  }
}

@media screen and (max-width: 640px){
  .search{
    &__select,&__text{
      width: 98%;
    }

    &__select{
      margin: 10px 0;
    }
  }

  .book-card{
    &__title{
      font-size: 18px;
    }
    &__category_popup,
    &__authors_popup{
      font-size: 16px;
    }
  }

  .popup__description{
    font-size: 14px;
  }

  .books__items{
    justify-content: center;
  }
}