* {
  margin: 0;
  padding: 0;
}

.header {
  background: url(../img/books1.jpg) no-repeat center/cover;
  padding: 50px;

  &__title {
    text-align: center;
    font: 900 60px / 50px sans-serif;
    margin-bottom: 35px;
  }
}

.search {
  max-width: 1140px;
  margin: 0 auto;
  color: #000;

  &__query {
    display: flex;
    justify-content: center;
  }

  &__text {
    display: block;
    width: 50%;
    padding: 5px 10px;
    border: 1px solid #000;
    border-right: 0;
    font: 400 20px / 20px sans-serif;

    &:focus-visible {
      outline: none;
    }
  }

  &__submit {
    width: 30px;
    border: 1px solid #000;
    border-left: 0;
    padding: 2px;
    background: url(../img/search.svg) no-repeat center/75%, #fff;
  }

  &__filters {
    text-align: center;
    margin-top: 30px;
  }

  &__label {
    font: 400 20px/20px sans-serif;
  }

  &__select {
    width: 20%;
    height: 30px;
    font: 400 20px / 20px sans-serif;
    color: rgba(0, 0, 0, 0.7);
    margin-right: 15px;
  }
}

.query-total {
  text-align: center;
  margin-top: 15px;
  font: 500 18px sans-serif;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
}

.book-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 20px;
  box-shadow: 4px 15px 30px -13px;
  margin-bottom: 25px;
  color: #000;
  text-decoration: none;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }

  &__img {
    box-shadow: 6px 8px 38px -5px;
    margin: 5px auto;
  }

  &__desc {
    margin-top: 20px;
  }

  &__category,
  &__authors {
    font: 402 20px/20px sans-serif;
    color: rgba(0, 0, 0, 0.5);
  }

  &__title {
    font: 700 22px sans-serif;
    margin: 10px 0;
  }
}

.pagination {
  padding: 30px;
  width: 200px;
  margin: 40px auto;
  display: block;
  font: 400 22px sans-serif;
}
